{% extends 'base.html' %}
{% block content %}



    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
        <div class="container">

            <div class="section-title">
                <h2>关于我们</h2>
                <p>
                    Python数据可视化：基于Flask / ECharts / Wordcloud 实现的豆瓣电影可视化网页
                    技术栈:
                <ul>
                    <li>Python爬虫</li>
                    <li>ECharts</li>
                    <li>Wordcloud</li>
                    <li>bootstrap</li>
                    <li>Flask</li>
                </ul>
                </p>
            </div>

            <div class="row">

                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
                    <div class="member">
                        <div class="pic"><img src="static/assets/img/team/team-1.jpg" class="img-fluid" alt="" height="600" width="600"></div>
                        <div class="member-info">
                            <h4>王敬东</h4>
                            <span>项目组长</span>
                            <div class="social">
                                <a href=""><i class="icofont-twitter"></i></a>
                                <a href=""><i class="icofont-facebook"></i></a>
                                <a href=""><i class="icofont-instagram"></i></a>
                                <a href=""><i class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <div class="pic"><img src="static/assets/img/team/2.png" class="img-fluid" alt="" height="600" width="600"></div>
                        <div class="member-info">
                            <h4>吴俊谋</h4>
                            <span>爬工程师</span>
                            <div class="social">
                                <a href=""><i class="icofont-twitter"></i></a>
                                <a href=""><i class="icofont-facebook"></i></a>
                                <a href=""><i class="icofont-instagram"></i></a>
                                <a href=""><i class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <div class="pic"><img src="static/assets/img/team/team-4.jpg" class="img-fluid" alt="" height="300" width="600"></div>
                        <div class="member-info">
                            <h4>马立志</h4>
                            <span>前端工程师</span>
                            <div class="social">
                                <a href=""><i class="icofont-twitter"></i></a>
                                <a href=""><i class="icofont-facebook"></i></a>
                                <a href=""><i class="icofont-instagram"></i></a>
                                <a href=""><i class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </section><!-- End Our Team Section -->
{% endblock %}